<link *ngIf="flag==false" rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

<section class="pt-32 bg-grey-50" *ngIf="flag==false">
  <div class="w-full lg:w-4/12 px-4 mx-auto" *ngFor="let item of users">
    <div class="relative flex flex-col min-w-0 break-words bg-whitegrey w-full mb-6 shadow-xl rounded-lg mt-16">
      <div class="px-6">
        <div class="flex flex-wrap justify-center">
          <div class="w-full px-4 flex justify-center">
            <div class="relative">
              <img *ngIf="image" alt="Profil kép" src="{{image}}" class="shadow-xl rounded-full max-h-44 align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
              <img *ngIf="image==null" alt="Profil kép" src="assets/default.png" class="rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
            </div>
          </div>

          <div class="w-full px-4 text-center mt-20">
            <div class="flex justify-center py-4 lg:pt-4 pt-8">
              <div class="mr-4 p-3 text-center">
              <span class="text-xl font-bold block uppercase tracking-wide text-white-600">
                {{addsNumber}}
              </span>
                <span class="text-sm text-white-400">Hírdetések</span>
              </div>
              <div class="mr-4 p-3 text-center">
              <span *ngIf="ratingDivide.length!=0" class="text-xl font-bold block uppercase tracking-wide text-white-600">
                {{dividedRating}}
              </span>
                <span *ngIf="ratingDivide.length==0" class="text-xl font-bold block uppercase tracking-wide text-white-600">
                0
              </span>

                <span class="text-sm text-white-400">Értékelés</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-12 ">

          <p class="text-lg, font-semibold">Név:</p>
            <p class="text-2xl font-bold">{{item.name.lastname}} {{item.name.firstname}}</p>


          <div class="leading-normal mt-0 mb-2 text-white-400 font-bold">
            <p class="text-lg, font-semibold">Emailcím:</p>
            <p class="text-2xl font-bold">{{item.email}}</p>


          </div>
          <div class="mb-2 text-white-600 mt-10">
            <p class="text-lg, font-semibold">Felhasználónév:</p>
            <p class="text-2xl font-bold">{{item.username}}</p>

          </div>
        </div>
        <div class="mt-10 py-10  border-blueGray-200 text-center">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-9/12 px-4">
              <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                <button mat-raised-button routerLink="/hirdeteseim">Hirdetéseim</button>
              </p>

              <button mat-raised-button color="accent" (click)="setFlag()">Adatok szerkeztése</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="relative  pt-8 pb-6 mt-8">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-6/12 px-4 mx-auto text-center">
        </div>
      </div>
    </div>
  </footer>
</section>
<div class="main content-center text-bg-grey max-w-lg mx-auto w-full justify-center justify-items-center" *ngIf="flag">
  <div class="belso max-w-lg mx-auto w-full justify-center justify-items-center">

      <form  [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
        <h1>Profile kép feltöltése:</h1>
        <div><input (input)="onFileChanged($event)" type="file" name="file"   formControlName="imgURL"></div>
        <br>
      <div> <mat-form-field color="accent"><mat-label  id="username">Felhasználónév</mat-label><input matInput type="text"   formControlName="username"  [(ngModel)]="nevmodel" /></mat-form-field></div>

      <div> <mat-form-field color="accent"><mat-label  id="email">Emailcím</mat-label><input matInput type="text"  formControlName="email" [(ngModel)]="mailmode" /></mat-form-field></div>
        <div formGroupName="name">

          <div> <mat-form-field color="accent"><mat-label  id="firstname">Keresztnév</mat-label><input matInput type="text"  formControlName="firstname"  [(ngModel)]="keresztmodel" /></mat-form-field></div>

          <div> <mat-form-field color="accent"><mat-label  id="lastname">Vezetéknév</mat-label><input matInput type="text"  formControlName="lastname" [(ngModel)]="vezetekmodel" /></mat-form-field></div>


        </div>

        <span><button mat-raised-button color="accent" type="submit">Adatok változtatása</button></span>


      </form>
      <br>
      <span *ngIf="flag"> <button mat-raised-button color="accent" (click)="deleteUser()">Fiók törlése</button></span>
  </div>
</div>









<!--  </div>-->


<!--</div>-->

