<div class="main">
  <span class="cim" style="color: black" position="absolute">Profil</span>
  <button mat-raised-button routerLink="/hirdeteseim">Hirdetéseim</button>

  <div class="belso" *ngFor="let item of users">
    <div >
      <h1>Profil adatok <button mat-raised-button color="accent"><mat-icon *ngIf="flag==false" (click)="setFlag()">edit</mat-icon><mat-icon *ngIf="flag" (click)="desetFlag()">close</mat-icon></button></h1>
      <div class="profileimg" align="center"><img width="150" height="150" src="{{image}}" /></div>
      <form *ngIf="flag" [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
        <h1>Profile kép feltöltése:</h1>
        <div><input (input)="onFileChanged($event)" type="file" name="file"   formControlName="imgURL"></div>
      <div><span>Felhasználónév:</span></div>
      <div> <mat-form-field color="accent"><mat-label  id="username">{{item.username}}</mat-label><input matInput type="text"   formControlName="username" placeholder="{{item.username}}" /></mat-form-field></div>
        <div><span>Email cím:</span></div>
      <div> <mat-form-field color="accent"><mat-label  id="email">{{item.email}}</mat-label><input matInput type="text"  formControlName="email" /></mat-form-field></div>
        <div formGroupName="name">
          <div><span>Keresztnév:</span></div>
          <div> <mat-form-field color="accent"><mat-label  id="firstname">{{item.name.firstname}}</mat-label><input matInput type="text"  formControlName="firstname"  /></mat-form-field></div>
          <div><span>Vezetéknév:</span></div>
          <div> <mat-form-field color="accent"><mat-label  id="lastname">{{item.name.lastname}}</mat-label><input matInput type="text"  formControlName="lastname"  /></mat-form-field></div>


        </div>

        <span><button mat-raised-button color="accent" type="submit">Adatok változtatása</button></span>


      </form>
      <br>
      <span *ngIf="flag"> <button mat-raised-button color="accent" (click)="deleteUser()">Fiók törlése</button></span>

    </div>
    <div *ngIf="flag==false">
      <div><span>Felhasználónév:  {{item.username}}</span></div>
      <br>
      <div><span>Email cím:  {{item.email}}</span></div>
      <br>
      <div><span>Keresztnév:  {{item.name.firstname}}</span></div>
      <br>
      <div><span>Vezetéknév:  {{item.name.lastname}}</span></div>


    </div>

    <span> </span>







  </div>


</div>
