.main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

}
//
.belso{
  width: 80%;
  height: auto;
  align-items: center;
  font-size: 26px;
  border-radius: 15px;// 50px 30px 5px;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;

}

//div {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  text-align: center;
//
//}
//.cim{
//  height: 60%;
//  font-size: 26px;
//}
.mat-form-field {
  width: 100%;
}
//.mat-button {
//  width: 150px;
//}
//
//.profileimg > img{
//  border-radius: 100%;
//  object-fit: cover;
//  object-position: center;
//}
