.main{
  height: 100vh;
}

.material-symbols-outlined {
   font-variation-settings:
     'FILL' 1,
     'wght' 300,
     'GRAD' 200,
     'opsz' 40
 }
.inline-icon {
  vertical-align: bottom;
  font-size: 18px !important;
  text-decoration-color: white;
}

