<mat-sidenav-container>
  <mat-sidenav #sidenav>
<app-menu ></app-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
      </div>
      <div>Apró Deal</div>

      <div fxFlex fxLayout fxLayoutAlign="end none" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px"  class="menu">
          <li><a routerLink="/hirdetesek"><mat-icon>search</mat-icon></a></li>
          <li><a routerLink="/hirdetesek"><mat-icon>label</mat-icon> Hírdetések</a></li>
          <li *ngIf="(loggedInUser)"><a routerLink="/hirdetesfel"><mat-icon>sell</mat-icon> Hirdetés feladása</a></li>
          <li *ngIf="(loggedInUser)"><a routerLink="/profil"><mat-icon>account_circle</mat-icon> Profilom</a></li>
          <li><a routerLink="/fooldal"><mat-icon>home</mat-icon> Főoldal</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Regisztráció</a></li>
          <li *ngIf="!(loggedInUser)"><a routerLink="/login">Bejelentkezés</a></li>
          <li *ngIf="(loggedInUser)"><a routerLink="/login" (click)="logout()"><mat-icon>logout</mat-icon> Kijelentkezés</a></li>
          <li><a></a></li>


        </ul>
      </div>


    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>





</mat-sidenav-container>
<app-main *ngIf="router.url != '/signup'" ></app-main>


