<!--<div class="main" [ngStyle]="{'background-image':getUrl()}">-->
<!-- <div class="belso">-->

<!--   <span><h1>Üdvözlünk az Apro Deal-en!</h1>-->
<!--   <div class="gomb">-->
<!--   <button mat-raised-button color="accent" [routerLink]="'/fooldal'">Tovább a fő oldalra</button>-->
<!--     </div>-->

<!--   </span>-->




<!-- </div>-->
<!--</div>-->
<div class="footer">
  <ul>
    <h2>Elérhetőségeink</h2>
    <li>Emailcím: sgtlaller97@gmail.com</li>
    <li>Telefonszám: 06303335053</li>
  </ul>
</div>
