.main{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;

  margin:auto;




}
.belso{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 30%;
  width: 50%;
  background-color: lightgrey;
  margin:auto;
  border-radius: 25px;



}
.gomb{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}




